configuration {
    modi:                "window,drun,run,Global Search:~/.config/rofi/scripts/rofi-spotlight.sh,Config Search:~/.config/rofi/scripts/config-search.sh";
    display-drun:        "Applications";
    display-window:      "Windows";
    display-run:         "Run";
    show-icons:          true;
    threads:             0;
    matching:            "fuzzy";
    disable-history:     false;
}

@theme "theme"

/* vim:ft=css
